[submodule "couchpotato"]
	path = couchpotato
	url = https://github.com/linuxserver/docker-couchpotato.git
[submodule "plexpy"]
	path = plexpy
	url = https://github.com/linuxserver/docker-plexpy.git
[submodule "plex"]
	path = plex
	url = https://github.com/linuxserver/docker-plex.git
[submodule "plexrequests"]
	path = plexrequests
	url = https://github.com/linuxserver/docker-plexrequests.git
[submodule "sickrage"]
	path = sickrage
	url = https://github.com/linuxserver/docker-sickrage.git
[submodule "deluge"]
	path = deluge
	url = https://github.com/linuxserver/docker-deluge.git
